.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    padding-bottom: 40px;
   }
   
   .title {
    text-align: center;
    padding: 40px 0;
    font-size: 3rem;
   }

   .text{
    font-size: 1.5rem;
   }